[Unit]
Description=Monitoring Agent Service
After=network.target

[Service]
ExecStart=/bin/agent/main -config /etc/agent/config.yml
WorkingDirectory=/etc/agent
Restart=on-failure
RestartSec=5s
User=nobody
Group=nogroup

# Логи будут доступны через journalctl
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
